mixin simple-checkbox(obj)
    - var checkboxattrs = (typeof obj.checkboxattrs === 'undefined') ? {} : obj.checkboxattrs
    input.form-check-input(
        type='checkbox'
        name="#{obj.name}"
        id="#{obj.id}"
        )&attributes(obj.checkboxattrs)
    |&nbsp;#{obj.label}

//- Checkbox
mixin checkbox(obj)
    - var groupattr = (typeof obj.groupattr === 'undefined') ? {} : obj.groupattr
    .form-check&attributes(groupattr)
        +lable-simple({
            'id': obj.id,
            'label': false,
            'labelattrs': {
                'class': 'form-check-label'
            }
        })
         +simple-checkbox(obj)


//- Checkbox inline
mixin checkbox-inline(obj)
    - var groupattr = (typeof obj.groupattr === 'undefined') ? {} : obj.groupattr
    +lable-simple({
        'id': obj.id,
        'label': false,
        'labelattrs': {
            'class': 'form-check-inline'
        }
    })
        +simple-checkbox(obj)



//- Custom checkbox
mixin checkbox-custom(obj)
    label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox" name="#{obj.name}" id="#{obj.id}")
        span.custom-control-indicator
        span.custom-control-description
            = obj.label