//- carousel caption
include demo-carousel

mixin carousel-caption(item)
    .carousel-caption
        unless !item.title
            h3 #{item.title}
        unless !item.text
            p #{item.text}

//- carousel
mixin carousel(id,items)
    .carousel.slide(id="carousel-#{id}", data-ride="carousel")
        //- Indicators
        ol.carousel-indicators
            each item,index in items
                - var className = index == 1 ? "active" : ""
                li(class="#{className}" data-target="#carousel-#{id}", data-slide-to="#{index}")



        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each item,index in items
                - var className = index == 1 ? "active" : ""

                .carousel-item(class=className)
                    unless item.img
                        img(data-src="#{item.dummySrc}" alt="")

                    else
                        img(src="#{item.img}" alt="")
                    +carousel-caption(item)



        //-  Controls
        a.left.carousel-control(href="#carousel-#{id}", role="button", data-slide="prev")
            span.sr-only Previous
        a.right.carousel-control(href="#carousel-#{id}", role="button", data-slide="next")
            span.sr-only Next